html, body {
  width: 100%;
  overflow-x: hidden;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  z-index: 1000;
}

.navbar {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 45px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 22px;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* PARA QUE NO TAPE EL HEADER */
body {
  padding-top: 80px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 90px 20px;
  background: url("https://picsum.photos/1200/600") center/cover no-repeat;
  color: white;
}

.hero h2 {
  font-size: 40px;
}

.hero p {
  font-size: 18px;
  margin: 10px 0 20px;
}

.btn {
  display: inline-block;
  background: #ff9800;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background: #e68900;
}

/* SECCIONES */
section {
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px;
}

/* TARJETAS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
  color: #2c5364;
}

/* CONTACTO */
.contact {
  background: #203a43;
  color: white;
  border-radius: 10px;
}

.contact form {
  display: grid;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.contact button {
  background: #ff9800;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0f2027;
  color: white;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .menu li {
    margin: 5px 10px;
  }

  .social-icons {
    justify-content: center;
  }

  .hero {
    padding: 70px 15px;
  }

  .hero h2 {
    font-size: 26px;
  }

  .hero p {
    font-size: 16px;
  }
}



section, footer {
  width: 100%;
  box-sizing: border-box;
}
